.footer {
  background: $whiteColor;
  border-radius: $radiusLg $radiusLg 0 0;
  &__container {
  }
  &__top {
    padding: 45rem 0 22rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: $lg) {
      padding: 50rem 0 16rem;
      align-items: flex-end;
    }
  }
  &__logo {
    max-width: 196rem;
    flex-basis: 196rem;
    @media (max-width: $lg) {
      max-width: 120rem;
      flex-basis: 120rem;
    }
  }
  &__contacts {
    flex-shrink: 0;
    @media (max-width: $lg) {
      padding-bottom: 2rem;
    }
    &-email {
      @extend .title-size-2;
      display: inline-block;
      vertical-align: top;
      transition: $transition;
      @media (max-width: $lg) {
        font-size: 24rem;
      }
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $accentColor;
        }
      }
    }
  }
  &__info {
    padding: 12rem 0 24rem;
    font-family: $interFamily;
    line-height: 1.32;
    color: rgba($darkGreyColor, .7);
    border-top: 1px solid $lightGreyColor;
    @media (max-width: $lg) {
      padding: 32rem 0 44rem;
    }
    &-row {
    }
    &-col {
      &--copyright {
        @media (max-width: $lg) {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      &--privacy {
        @media (max-width: $lg) {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      &--iin {
        @media (max-width: $lg) {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      &--aic {
        text-align: right;
        @media (max-width: $lg) {
          max-width: 100%;
          flex-basis: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
    }
  }
  &__copyright {
    text-align: left;
    @media (max-width: $lg) {
      padding-right: 12rem;
    }
    &-list {
    }
  }
  &__privacy {
    margin: 16rem 0 0;
    @media (max-width: $lg) {
      margin: 0 0 12rem;
    }
    &-line {
      margin: 0;
      &:not(:last-child) {
        @media (max-width: $lg) {
          margin-bottom: 12rem;
        }
      }
    }
    a {
      transition: $transition;
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $accentColor;
        }
      }
    }
  }
  &__iin {
    @media (max-width: $lg) {
      margin-bottom: 34rem;
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 1rem;
        @media (max-width: $lg) {
          max-width: 50%;
          flex-basis: 50%;
          flex-direction: column;
        }
      }
      &:last-child {
        @media (max-width: $lg) {
          max-width: 100%;
          flex-basis: 100%;
          margin: 0 0 14rem;
          order: -1;
        }
      }
      &-code {
        &:not(:last-child) {
          margin-right: 10rem;
        }
      }
    }
  }
  &__aic {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    color: $fontColor;
    @media (max-width: $lg) {
      position: relative;
      top: -2rem;
      flex-shrink: 0;
    }
    &:hover {
      text-decoration: none;
      .footer__aic-icon {
        @media (min-width: $lg-mf) {
          color: $accentColor;
        }
      }
    }
    &-title {
      padding-top: .12em;
      @media (max-width: $lg) {
        padding-top: .3em;
      }
    }
    &-icon {
      width: 31rem;
      height: 16rem;
      margin-left: 8rem;
      flex-shrink: 0;
      transition: $transition;
    }
  }
}