.header {
  background: $eggshellColor;
  width: 100%;
  padding: 15rem 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 12;
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    max-width: 148rem;
    flex: 0 0 148rem;
    @media (max-width: $sm) {
      max-width: 78rem;
      flex-basis: 78rem;
    }
  }
}