<footer class="@@el footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="/" class="logo footer__logo">
        <img src="images/brand-logo.svg" alt="Efin b2b">
      </a>
      <div class="footer__contacts">
        <a href="mailto:info@efin.ru" target="_blank" itemprop="email" class="footer__contacts-email">info@efin.ru</a>
      </div>
    </div>
    <div class="footer__info">
      <div class="row footer__info-row">
        <div class="d-lg-none row__col--2 footer__info-col footer__info-col--copyright">
          <div class="footer__copyright-list">
            <p class="footer__copyright">© 2024 ООО «Ефин»</p>
            <p class="footer__copyright">АО «ЕФР»</p>
          </div>
        </div>
        <div class="row__col--3 footer__info-col footer__info-col--privacy">
          <div class="footer__privacy">
            <a href="javascript:void(0)" data-modal="popup-privacy">Политика обработки персональных данных</a>
          </div>
        </div>
        <div class="row__col--5 footer__info-col footer__info-col--iin">
          <div class="footer__iin">
            <div class="footer__iin-item">
              <p class="footer__iin-item-code">ИНН 9715308819</p>
              <p class="footer__iin-item-code">КПП 770901001</p>
              <p class="footer__iin-item-code">ОГРН 5177746204565</p>
            </div>
            <div class="footer__iin-item">
              <p class="footer__iin-item-code">ИНН 9709079649</p>
              <p class="footer__iin-item-code">КПП 770901001</p>
              <p class="footer__iin-item-code">ОГРН 1227700203048</p>
            </div>
            <div class="footer__iin-item">
              <p class="footer__iin-item-code" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="postalCode">105064</span>, 
                <span itemprop="addressLocality">Москва</span>, 
                <span itemprop="streetAddress">Нижний Сусальный переулок, д.&nbsp;5,&nbsp;стр.&nbsp;17</span>
              </p>
            </div>
          </div>
        </div>
        <div class="row__col--2 footer__info-col footer__info-col--aic">
          <p class="d-lg-block footer__copyright">© 2024 ООО «Ефин»</p>
          <p class="d-lg-block footer__copyright">АО «ЕФР»</p>
          <a href="https://www.aic.ru/" target="_blank" rel="noopener noreferrer" class="footer__aic">
            <div class="footer__aic-title">Сделано в</div>
            <svg class="u-icon footer__aic-icon">
              <use xlink:href="images/icons/icons.svg#aic-brand"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>